<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to  DocPro.tn, Hi <%= @user.email %></h1>
    <p>
      You have successfully signed up to DocPro.tn,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= @confirmation_link %>">click to confirm Inscription</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>